<h1>Hi, {{name}}!</h1>
<p>'Nearly-New' is an online portal for students of <b>NIT Hamirpur</b> to put up ads to sell/seek stuff to/from other students (mainly books, but you can put up ads for anything!).</p>
<p>So go ahead and post an ad for something you wanna sell or something you desire that doesn't need to be brand new.</p>
<p><b>Sign-up at dht93.pythonanywhere.com</b></p>
<br><br>
<p>Regards,
<p>Dhruv Thakur</p>
<p>Contact number: 9882769605</p>
<p>Email: dhruvt93@gmail.com</p>
<br><br>
<p>*Do not reply to this email. You can contact me using the information given above*</p>
<br>
<p>Sent by server at {{timestamp}}</p>
