{%extends 'header.html'%}

{%block about_active%}class="active"
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename="css/social.css")}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static',filename="css/bootstrap.css")}}" type="text/css">
<link rel="stylesheet" href="{{url_for('static',filename="css/body.css")}}" type="text/css">
{%endblock%}

{%block body%}

<style>
@media screen and (min-width: 1100px) {
    #a_content{
        padding-top:40px;
}
    #links{
      padding-top:30px;
}
}
</style>

<div id='top' class="jumbotron text-center" style="background-image: url({{url_for('static',filename='images/cover_top.jpg')}});background-size:cover;height:100vh;color:white;margin-bottom:0;">
  <div id="a_content" class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1" style="font-family:tahoma;">

    <p style="color:#000000;">I'm Dhruv</p>
  <p style="color:#000000;">I like building stuff, preferably by hitting keys on a keyboard.</p>
  <div id= "links" class="col-md-12 col-xs-12">
  <p style="color:white;">You can find me here:</p>
</div>
</div>

  <div class="col-md-10 col-xs-12 col-md-offset-1">
    <ul class="social-networks spin-icon">
      <li><a target="_blank" href="https://github.com/dht93" class="icon-github">GitHub</a></li>
  <li><a target="_blank" href="https://www.linkedin.com/in/dhruvthakur" class="icon-linkedin">LinkedIn</a></li>
  <li><a target="_blank" href="https://twitter.com/dht93" class="icon-twitter">Twitter</a></li>
  <li><a target="_blank" href="https://www.instagram.com/dhr.uv/" class="icon-instagram">Instagram</a></li>
  <li><a target="_blank" href="https://www.facebook.com/metalplusclassicrock" class="icon-facebook">Facebook</a></li>
</ul>
</div>

<div class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1" style="font-family:tahoma;">
<p style="color:white;">Contact information:</p>
<p style="color:white;">Phone: +919882769605</p>
<p style="color:white;">Email: dhruvt93@gmail.com</p>
</div>
</div>






{%endblock%}
