{%extends 'header.html'%}

{%block board_active%}class="active"
{%endblock%}

{%block body%}
  <div class="page-header" align="center">
  <h1>Board <small>Check out posts</small></h1>
</div>
{%if posts_on_page==0:%}
<p align="center">There are no posts at the moment. Post the first ad at <a href="{{url_for('sell')}}">sell</a> or <a href="{{url_for('seek')}}">seek</a>.</p>
{%else:%}
{%if posts_on_page>2:%}
<div class="container" align="center">
<nav>
  <ul class="pagination">

    <li {%if current==1:%}class="disabled"><a{%else:%}><a href="{{url_for('board',num=current-1)}}"{%endif%} aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {%for p in range(1,no_of_pages+1)%}
    <li {%if p==current:%}class="active"><a>{{p}}{%else:%}><a href="{{url_for('board',num=p)}}">{{p}}{%endif%} <span class="sr-only"></span></a></li>
    {%endfor%}
    <li {%if current==no_of_pages:%}class="disabled"><a{%else:%}><a href="{{url_for('board',num=current+1)}}"{%endif%} aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
</div>
{%endif%}
<div class="container" align="center">
  {%for el in data:%}
<div class="panel panel-info" style="width:40%;">
  <div class="panel-heading">
    <h3 class="panel-title">{%if el[1]=='S'%}<span style="float:right;" class="badge">#{{el[0]}}</span><span style="float:left; "class="label label-primary">Sell</span> {{el[4]}}{%else:%}<span style="float:right;" class="badge">#{{el[0]}}</span><span style="float:left;" class="label label-warning">Seek</span>{{el[4]}}{%endif%}</h3>
  </div>
  <div class="panel-body">
    <p>Posted by: {{el[3]}}</p>
    {%if el[1]=='S':%}
    <p>Selling price: {{el[5]}}</p>
    <p>Used for: {{el[6]}}</p>
    {%if not el[7]=='':%}
    <p>Seller says: {{el[7]}}</p>
    {%endif%}
    {%else:%}
    {%if not el[7]=='':%}
    <p>Seeker says: {{el[7]}}</p>
    {%endif%}
    {%endif%}

    {%if not session['user_id']==el[8]:%}
    <a href="{{url_for('post',tr_id=el[2])}}" class="btn btn-info btn-sm" role="button">Details</a>
    {%else:%}
    <button class="btn btn-success" role="button">Your Post</button>{%endif%}
<!--    <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-info"><a href="{{url_for('post',tr_id=el[2])}}">Details</a></button>
</div>
-->
  </div>

</div>
{%endfor%}
</div>
<div class="container" align="center">
<nav>
  <ul class="pagination">

    <li {%if current==1:%}class="disabled"><a{%else:%}><a href="{{url_for('board',num=current-1)}}"{%endif%} aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {%for p in range(1,no_of_pages+1)%}
    <li {%if p==current:%}class="active"><a>{{p}}{%else:%}><a href="{{url_for('board',num=p)}}">{{p}}{%endif%} <span class="sr-only"></span></a></li>
    {%endfor%}
    <li {%if current==no_of_pages:%}class="disabled"><a{%else:%}><a href="{{url_for('board',num=current+1)}}"{%endif%} aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
</div>
{%endif%}
{%endblock%}
