{%extends 'cover_header.html'%}

{%block features_active%}
class="active"
{%endblock%}

{%block inner_cover%}
<div class="inner cover" align="left">
    <p class="lead">Meaning to sell your old text-book that's lying somewhere in your cupboard?</p>
    <p class="lead">Or seeking a second-hand novel?</p>
    <p class="lead">Well, in either case, nearly-new is here to help.</p>
    <p class="lead">Post a sell/seek ad on nearly-new to let other users know.</p>
    <p class="lead">Make your contact information available when an interested user requests for it.</p>
    <p class="lead">Discuss the details and make a transaction!</p>
</div>

{%endblock%}
