{%extends 'header.html'%}

{%block feedback_active%}class="active"
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename="css/feedback.css")}}" type="text/css">
{%endblock%}

{%block body%}

<div class="row" align="center">
    <h1>Feedback</h1>
    <p>Your suggestions are valuable to me. Anything you wanna let me know, post it down below.</p>
</div>
<div class="container" align="center">
    <form action=""  method="post">
    <input required type="text" class="form-control" placeholder = "Write suggestion" name="body" value="{{request.form.body}}">
    <input class="btn btn-default" type="submit" value="Submit">
    </form>
</div>
<br>
<div class="container">
    {%for el in data%}
  <div class="row">
        <section class="comment-list">
          <article class="row">
            <div class="col-md-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i><b> {{el[2]}}:</b></div>
                  </header>
                  <div class="comment-post">
                    <p>
                     {{el[3]}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
  </div>
  {%endfor%}
</div>

{%endblock%}
