{%extends 'header.html'%}

{%block head%}

<link rel='stylesheet' type='text/css' href="{{url_for('static',filename='css/jumbo.css')}}">
{%endblock%}

{%block body%}
<div class="jumbotron" align="center">
  <div container>
    <br>
    <br>
    <br><br><br><br>
  <h1>Nearly-New</h1>
  {%if not session.logged_in%}
  <p id='txt'>Register or login to continue.</p>
<br><br><br>
  <div  class= "container-fluid" >
    <div class="row">
      <div class="col-md-6" align="right"><p><a class="btn btn-primary btn-lg" href="{{url_for('register_page')}}" role="button" >Register</a></p></div>
<div class="col-md-6" align ="left">  <p><a class="btn btn-primary btn-lg" href="{{url_for('login_page')}}" role="button">Login</a></p></div>
</div></div>
{%endif%}
</div>
</div>







{%endblock%}
