{%extends 'header.html'%}

{%block body%}
<div id='top' class="jumbotron text-center" style="background-image: url({{url_for('static',filename='images/cover_top.jpg')}});background-size:cover;height: 100vh;color:white;">
  <br><br><br><br><div class="container">
  <h1>Nearly-New</h1>
  <p style="color:#000000;">Login</p>
  <div class="container" align="center" style="width:40%;">
    <form action="" class="form-inline" method="post">
      <input autofocus="autofocus" required type="text" class="form-control input-lg" placeholder = "username" name="user_name" value="{{request.form.user_name}}"><br>
      <input required id="pass" type="password" class="form-control input-lg" placeholder = "password" name="password" value="{{request.form.password}}" ><br>
      <br><input class="btn btn-lg btn-primary" type="submit" value="Login">
    </form>
    {%if error%}
    <div class="alert alert-danger" role="alert">
      <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
      <span class="sr-only">Error:</span>
      {{error}}
    </div>
{%endif%}
<br><br><br>
<a href="{{url_for('index')}}" class="btn btn-primary btn-md" role="button">Go Back</a>

  </div>
</div>
</div>



{%endblock%}
