{%extends 'header.html'%}

{%block notifications_active%}class="active"
{%endblock%}


{%block head%}
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
{%endblock%}

{%block body%}

<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>

<div class="container">
  <h2 align="center">Notifications</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#new_notifs">New notifications{%if (recipient_new_notifs|length + requestor_new_notifs|length)>0%}<span class="badge">{{(recipient_new_notifs|length + requestor_new_notifs|length)}}</span>{%endif%}</a></li>
    <li><a href="#old_notifs">Old notifications</a></li>
    </ul>
    <div class="tab-content">
      <div id="new_notifs" class="tab-pane fade in active">
        <!--recipient stuff-->
        {%for el in recipient_new_notifs%}
        <div class="panel panel-success">
          <div class="panel-heading">Request</div>
          <div class="panel-body" align="center">
            <p>{{el[4]}} is requesting you to share your {%if el[2]=='C'%}contact number{%else%}email address{%endif%}</p>
            <a href="{{url_for('post',tr_id=el[1])}}" class="btn btn-info btn-sm" role="button">View post</a><br><br>
            <a href="{{url_for('accept_request',request_id=el[0])}}" class="btn btn-success btn-sm" role="button">Accept request</a>
            <a href="{{url_for('reject_request',request_id=el[0])}}" class="btn btn-danger btn-sm" role="button">Reject request</a>
          </div>
        </div>
        {%endfor%}
        <hr>
        <!--requestor stuff-->
        {%for el in requestor_new_notifs%}
        {%if el[7]=='Y'%}
        <div class="panel panel-success">
          <div class="panel-heading">Accepted</div>
          <div class="panel-body" align="center">
            <p>{{el[6]}} has accepted your request</p>
            <a href="{{url_for('post',tr_id=el[1])}}" class="btn btn-info btn-sm" role="button">View post</a><br><br>
            <a href="{{url_for('ack_notif',request_id=el[0])}}" class="btn btn-success btn-sm" role="button">Remove notification</a>
          </div>
        </div>
        {%else:%}
        <div class="panel panel-success">
          <div class="panel-heading">Rejected </div>
          <div class="panel-body">
            <p>{{el[6]}} has rejected your request</p>
            <a href="{{url_for('post',tr_id=el[1])}}" class="btn btn-info btn-sm" role="button">View post</a>
            <a href="{{url_for('ack_notif',request_id=el[0])}}" class="btn btn-danger btn-sm" role="button">Remove notification</a>
          </div>
        </div>
        {%endif%}
        {%endfor%}

      </div>

      <div id="old_notifs" class="tab-pane fade">
        {%for el in recipient_old_notifs%}
        {%if el[7]=='Y'%}
        <div class="panel panel-success">
          <div class="panel-heading">Accepted</div>
          <div class="panel-body" align="center">
            <p>You accepted {{el[4]}}'s request</p>
            <a href="{{url_for('post',tr_id=el[1])}}" class="btn btn-success btn-sm" role="button">View Post</a>
          </div>

        </div>
        {%else:%}
        <div class="panel panel-danger">
          <div class="panel-heading">Rejected</div>
          <div class="panel-body" align="center">
            <p>You rejected {{el[4]}}'s request</p>
            <a href="{{url_for('post',tr_id=el[1])}}" class="btn btn-danger btn-sm" role="button">View Post</a>
          </div>

      </div>
      {%endif%}
      {%endfor%}
<hr>
      {%for el in requestor_old_notifs%}
      {%if el[7]=='Y'%}
      <div class="panel panel-success">
        <div class="panel-heading">Accepted</div>
        <div class="panel-body" align="center">
          <p>{{el[6]}} accepted your request</p>
          <a href="{{url_for('post',tr_id=el[1])}}" class="btn btn-success btn-sm" role="button">View Post</a>
        </div>
      </div>
          {%else:%}
          <div class="panel panel-danger">
            <div class="panel-heading">Rejected</div>
            <div class="panel-body" align="center">
              <p>{{el[6]}} rejected your request</p>
              <a href="{{url_for('post',tr_id=el[1])}}" class="btn btn-danger btn-sm" role="button">View Post</a>
            </div>
          </div>

      {%endif%}




      {%endfor%}
  </div>

{%endblock%}
