{%extends 'header.html'%}

{%block body%}
<div class="jumbotron text-center" style="background-image: url({{url_for('static',filename='images/book.jpg')}});background-size:cover;height:500px;color:#f5245f;">
  <h1>Nearly-New</h1>
  <p style="color:black;">Register:</p>
  <div class="container" align="center" style="width:50%;">
		<form action="" class="form-inline" method="post">
      <input required type="text" class="form-control input-lg" placeholder = "Name" name="name" value="{{request.form.name}}"><br>
      <input required type="text" class="form-control input-lg" placeholder = "Choose a username" name="user_name" value="{{request.form.user_name}}"><br>
      <input required type="email" class="form-control input-lg" placeholder = "Email" name="email" value="{{request.form.email}}"><br>
			<input required id="pass" type="password" class="form-control input-lg" placeholder = "Password" name="password" value="{{request.form.password}}" ><br>
      <br><input class="btn btn-lg" type="submit" value="Register">
		</form>
    {%if error%}
    <div class="alert alert-danger" role="alert">
      <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
      <span class="sr-only">Error:</span>
      {{error}}
    </div>
{%endif%}
</div>
	</div>

{%endblock%}
