{%extends 'header.html'%}

{%block head%}
<script src="{{url_for('static',filename='js/seek.js')}}"></script>
{%endblock%}

{%block seek_active%}class="active"{%endblock%}

{%block body%}
<body>
  <div class="container-fluid" style="min-height:100%;margin-left:40%;">
  	<div class="container">
  		<br>
  		<h4 style="margin-left:4%;">Enter details:</h4>
  		<br>
  		<form action="" class="form-inline" method="post">
  			<input required type="text" class="form-control" placeholder = "You're seeking what?" name="content" value="{{request.form.content}}" onclick="inp1in();"onblur="inp1out();"><p id="inp1" style="display:none;"></p><br>
  			<input type="text" class="form-control" placeholder = "Any additional info?" name="add_info" value="{{request.form.add_info}}" onclick="inp2in();"onblur="inp2out();"><p id="inp2" style="display:none;"></p><br>
        <br><input class="btn btn-default" type="submit" value="Post ad" style="margin-left:6%;">
  		</form>
      {%if error%}
  <p>{{error}}</p>
  {%endif%}
  </div>
  	</div>
{%endblock%}
