{%extends 'header.html'%}

{%block head%}
<script src="{{url_for('static',filename='js/seek.js')}}"></script>
{%endblock%}

{%block seek_active%}class="active"{%endblock%}

{%block body%}
    <div class="container" align="center">
      {%if contact=='NULL'%}<br>
      <h4>Before posting an ad please consider adding your contact number to your account. This will help others get in contact with you easily. Your private information won't be shared with anybody without your consent</h3>
      <h5>Head over to <a href="{{url_for('settings')}}" style="text-decoration:none;">Settings</a> to know more.<h4>
        {%endif%}
          <br>
      		<h4 style="margin-left:4%;">Enter details:</h4>
      		<br>
      		<form action=""  method="post">
            <input required type="text" class="form-control" placeholder = "You're seeking what?" name="content" value="{{request.form.content}}" onclick="inp1in();"onblur="inp1out();"><p id="inp1" style="display:none;"></p><br>
      			<input type="text" class="form-control" placeholder = "Any additional info?" name="add_info" value="{{request.form.add_info}}" onclick="inp2in();"onblur="inp2out();"><p id="inp2" style="display:none;"></p><br>
            <input class="btn btn-default" type="submit" value="Post ad" style="margin-left:6%;">
      		</form>
          {%if error%}
      <p>{{error}}</p>
      {%endif%}
    </div>

{%endblock%}
