{%extends 'header.html'%}

{%block your_posts_active%}class="active"
{%endblock%}

{%block body%}
  <div class="page-header" align="center">
  <h1>Your Active Posts</h1>
</div>
{%if data|length==0%}
<p align="center">You haven't posted anything yet. Post your first ad at <a href="{{url_for('sell')}}">sell</a> or <a href="{{url_for('seek')}}">seek</a>.</p>
{%endif%}

{%for el in data%}
{%if el[1]=='S'%}
<div class="col-md-10 col-xs-8 col-md-offset-1 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
  <div class="row">
    <div class="col-md-1 col-xs-2">
      <span style="font-size:13px;" class="label label-primary">SELL</span>
    </div>
    <div class="col-md-10 col-xs-8" align="center">
      <p>ITEM: {{el[3]}}</p>
  </div>
  <div class="col-md-1 col-xs-2">
    <span style="font-size:13px;" class="badge">#{{el[0]}}</span>
</div>
</div>
{%if not el[6]=='NULL'%}
<div class="row" align="center" style="padding:5px;">
<div class="col-md-4 col-xs-12">
  <p>Selling Price<br>{%if el[4]=='0'%}Free{%else%}{{el[4]}}{%endif%}</p>
</div>
<div class="col-md-4 col-xs-12">
  <p>Used For<br>{{el[5]}}</p>
</div>
<div class="col-md-4 col-xs-12">
  <p>Additional Info:<br>{{el[6]}}</p>
</div>

</div>
{%else%}
<div class="row" align="center" style="padding:5px;">

<div class="col-md-6 col-xs-12">
  <p>Selling Price<br>{%if el[4]=='0'%}Free{%else%}{{el[4]}}{%endif%}</p>
</div>
<div class="col-md-6 col-xs-12">
  <p>Used For<br>{{el[5]}}</p>
</div>

</div>
{%endif%}
<div class="row" align="center">
<button type="button" class="btn btn-danger"><a style="color:white;text-decoration:none;" href="{{url_for('remove_post',tr_id=el[0])}}">Remove</a></button>
</div>
</div>
</div>
</div>
{%else%}
<div class="col-md-10 col-xs-8 col-md-offset-1 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
  <div class="row">
    <div class="col-md-1 col-xs-2">
      <span style="font-size:13px;" class="label label-warning">SEEK</span>
    </div>
    <div class="col-md-10 col-xs-8" align="center">
      <p>ITEM: {{el[3]}}</p>
  </div>
  <div class="col-md-1 col-xs-2">
    <span style="font-size:13px;" class="badge">#{{el[0]}}</span>
</div>
</div>
{%if not el[6]=='NULL'%}
<div class="row" align="center" style="padding:5px;">

<div class="col-md-12 col-xs-12">
  <p>Additional info:<br>{{el[6]}}</p>
</div>

</div>

{%endif%}
<div class="row" align="center">
<button type="button" class="btn btn-danger"><a style="color:white;text-decoration:none;" href="{{url_for('remove_post',tr_id=el[0])}}">Remove</a></button>
</div>
</div>
</div>
</div>
{%endif%}


{%endfor%}



{%endblock%}
