{%extends 'header.html'%}

{%block your_posts_active%}class="active"
{%endblock%}

{%block body%}
  <div class="page-header" align="center">
  <h1>Your Active Posts</h1>
</div>
{%if data|length==0%}
<p align="center">You haven't posted anything yet. Post your first ad at <a href="{{url_for('sell')}}">sell</a> or <a href="{{url_for('seek')}}">seek</a>.</p>
{%endif%}
<div class="container" align="center">
  {%for el in data:%}
  <div class="panel panel-default">
    <div class="panel-body">
      {%if el[1]=='S'%}<span style="float:left;font-size:13px;" class="label label-primary">SELL</span>{%else%}<span style="float:left;font-size:13px;" class="label label-warning">SEEK</span>{%endif%}
      <b>ITEM: {{el[3]}}</b>
      <span style="float:right;font-size:13px;" class="badge">#{{el[0]}}</span>
      <table class="table">
        <tbody>
          <tr align="center">
            {%if el[1]=='S'%}
                  {%if el[4]=='0'%}
                        <td>Selling For<br><b>Free</b></td>
                        {%else:%}
                        <td>Selling Price:<br>{{el[4]}}</td>{%endif%}
                  <td>Used For:<br>{{el[5]}}</td>
                  {%if not el[6]=='NULL'%}
                        <td>Additional info:<br>{{el[6]}}</td>
                        {%endif%}
            {%else:%}
                  {%if not el[6]=='NULL'%}
                        <td>Additional info:<br>{{el[6]}}</td>{%endif%}
                        {%endif%}

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {%endfor%}
</div>

{%endblock%}
